<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The best online auction site!</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body ng-app="bidding" ng-controller="main">
    <div class="message {{message.status}}">{{message.text}}</div>

    <div class="container">
        <div class="timer" ng-controller="timer">{{timeToEnd | date:'HH:mm:ss'}}</div>

        <h1>DeLorean needle from Germany Low mileage</h1>

        <div class="offer">
            <div class="photo">
                <img src="/images/5662686510.jpeg" alt="">
            </div>
            <div class="info">
                <span class="price-label">current price</span>
                <span class="current-price">{{currentPrice | currency}}</span>
                <span class="delivery">free shipping</span>
            </div>
        </div>

        <form class="bid" ng-controller="bid">
            <label for="bid-value">Your offer</label>

            <button class="change-price" ng-click="decrementBidPrice()" ng-disabled="minimalBidPrice">-</button>
            EUR <input id="bid-value" type="number" ng-model="bidPrice" step="0.01">
            <button class="change-price" ng-click="incrementBidPrice()">+</button>

            <p>
                Remember that submission of a tender means concluding a legally binding agreement
                and the obligation to pay for winning the item.
            </p>

            <input type="button" ng-click="bid()" value="bid" class="button">
        </form>

        <h3>Auction feed</h3>
        <table class="feed">
            <thead>
                <tr>
                    <th>user</th>
                    <th>price</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feed in feeds">
                    <td>{{$index + 1}}. {{feed.buyer}}</td>
                    <td>{{feed.price | currency}}</td>
                    <td>{{feed.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-locale_pl-pl.min.js"></script>
    <script src="/scripts/sockjs.min.js"></script>
    <script src="/scripts/vertxbus.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/controllers/bid.js"></script>
    <script src="/scripts/controllers/timer.js"></script>
</body>
</html>
