@message-box-width: 400px;
@container-width: 370px;

@text-color: #303030;
@link-color: #0083ff;
@message-color: #fff;
@error-message: #d9534f;
@success-message: #5cb85c;
@info-message: #5bc0de;
@special-color: #FF8002;
@border-color: #D6D6D6;
@free-delivery-color: #11BB00;
@input-background: #eee;
@disabled-color: #999999;

@border-radius: 5px;